<Xml>  
        <Configuration>
               <softwares>
                 <software>
                 	 <toolname>jenkins</name>
                 	 <version>1.7</version>
                 	 <Type>Install<Type>
                  </software>
		 <software>
                 	 <toolname>junit</name>
                 	 <version>2.0</version>
                 	 <Type>Install<Type>
                  </software>
               </softwares>
          </Configuration>     
 </xml>   
